.search-form {
  position: relative;
  background: #3b1dec;
  border-radius: 0.7rem;
  height: 60px;
}

.search-input,
.search-button {
  height: 60px;
  border: 0;
  color: white;
  font-size: 1.8rem;
}

.search-input[type=search] {
  outline: 0;
  width: 100%;
  background: #fff;
  color: #998b8b;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #3b1dec;
  border-radius: 0 0.7rem 0.7rem 0;
}

.search-input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}

.search-input:not(:placeholder-shown) + .search-button {
  display: block;
}